{% extends "document.html" %}

{% block title %}Договор офферты{% endblock %}


{% block content %}
<section class="document">
    <div class="container">
        <h2 class="document-title g-title">
            Договор офферты
            <span>Договор офферты</span>
        </h2>
        <p class="document-desc">
            <b>Дата размещения 02 ноября 2023 года</b><br>
            Настоящая публичная Оферта (в дальнейшем — Договор) является официальным предложением Индивидуального
            предпринимателя Деккер Николь Николаевна, ИНН 434586905011 (далее по тексту – Исполнитель) в соответствии со
            статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ в адрес любого лица (физического лица),
            обладающего дееспособностью и необходимым полномочием заключить договор разработку, дизайн и покупку картин
            в информационных сервисах Исполнителя на условиях, определенных в настоящей оферте, и содержит все
            существенные условия договора.
        </p>

    </div>
</section>
{% endblock %}

