{% extends "document.html" %}
{% load static %}
{% block title %}Политика конфиденциальности{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'WWW/style/document.css' %}">
{% endblock %}

{% block content %}
<section class="document">
    <div class="container">
        <h2 class="document-title g-title">
            Политика конфиденциальности
            <span>Политика конфиденциальности</span>
        </h2>
        <p class="document-desc">
            Политика в отношении обработки персональных данных
        </p>
    </div>
</section>
{% endblock %}

